/*Nav*/
nav {
  height: 4.7rem;
  padding: 0px 6rem;
  background-color: #222;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 100;

  @media screen and (max-width: 400px) {
    justify-content: center;
    height: 3.8rem;
  }

  h4 {
    font-size: 1.8rem;
    margin: 0;
    @media screen and (max-width: 400px) {
      display: none;
    }
  }

  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

    li {
      margin-right: 2rem;
      font-size: 1.5rem;
      font-weight: 400;

      a {
        color: #fff;
        font-size: 1.8rem;
        text-decoration: none;
        @media screen and (max-width: 400px) {
          font-size: 1.5rem;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

/*HERO*/
main {
  padding-top: 6rem;
  grid-column: center-start / center-end;
  display: flex;
  align-items: center;
  justify-content: center;
  //text-align: center;

  @media screen and (max-width: 400px) {
    flex-direction: column;
    padding-top: 4rem;
  }

  .hero-a {
    padding-top: 6rem;
    flex: 0 0 60%;
    opacity: 1;

    @media screen and (max-width: 400px) {
      order: 2;
      padding-top: 0;
    }

    h1 {
      margin: 0;
    }

    h4 {
      font-weight: 300;
      margin-top: 2rem;
      margin-bottom: 3rem;
    }
    p {
      margin-top: 3rem;
    }
  }

  .hero-b {
    //height: 100%;
    flex: 0 0 40%;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media screen and (max-width: 400px) {
      order: 1;
    }

    .avatar {
      background-image: url("./IMG_20200918_191251-02.jpeg");
      background-size: cover;
      background-position: center;
      height: 40rem;
      width: 40rem;
      background-color: #fff;
      border-radius: 50%;

      @media screen and (max-width: 400px) {
        height: 25rem;
        width: 25rem;
        margin-bottom: 4rem;
      }
    }
    .corona {
      transform: translate(10px, 27px);

      @media screen and (max-width: 400px) {
        height: 33pt;
        width: 33pt;
        transform: translate(8px, 20px);
      }
    }
  }
}

// PROYECTOS
.proyectos {
  grid-column: full-start / full-end;
  background-color: #f6f6f6;
  color: #222;
  margin-bottom: 12rem;

  @media screen and (max-width: 400px) {
    margin: 10rem 0;
  }
  h3 {
    margin-left: 6rem;

    @media screen and (max-width: 400px) {
      margin-left: 0;
    }
  }

  .gridp {
    margin: 0 6rem;

    display: grid;

    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 40rem));
    grid-auto-rows: auto;
    align-content: center;
    justify-content: center;
  }

  .proy {
    background-color: white;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: all 600ms ease;

    &:hover {
      box-shadow: 0 6px 15px 14px rgba(36, 37, 38, 0.08);
    }

    h4 {
      //text-decoration: underline;
      margin-bottom: 2rem;
    }

    p {
      font-weight: 300;
    }

    .pica {
      height: 34rem;
      width: 36rem;
      background-image: url(../assets/simplestore.png);
      background-position: center;
      background-size: cover;
      border-radius: 20px;

      align-self: center;

      @media screen and (max-width: 400px) {
        height: 20rem;
        width: 21rem;
      }
    }
    .pica2 {
      height: 34rem;
      width: 36rem;
      background-image: url(../assets/random.png);
      background-position: center;
      background-size: cover;
      border-radius: 20px;

      align-self: center;
      @media screen and (max-width: 400px) {
        height: 20rem;
        width: 21rem;
      }
    }
    .pica3 {
      height: 34rem;
      width: 36rem;
      background-image: url(../assets/lux.jpg);
      background-position: center;
      background-size: cover;
      border-radius: 20px;

      align-self: center;
      @media screen and (max-width: 400px) {
        height: 20rem;
        width: 21rem;
      }
    }
  }
}

.about {
  grid-column: full-start / full-end;
  //test
  padding: 12rem 6rem;
  background-color: #222;
  color: white;

  @media screen and (max-width: 400px) {
    padding: 6rem 6rem;
  }

  p {
    font-weight: 300;
  }

  .helper {
    display: flex;
    align-items: center;

    @media screen and (max-width: 400px) {
      flex-direction: column;
    }

    .abouta {
      h3 {
        margin-top: 0;
      }
    }

    .img-wrapper {
      flex: 0 0 40%;
      display: flex;
      align-items: center;
      justify-content: center;

      .avatarb {
        background-image: url("./avatarb.jpeg");
        background-size: cover;
        background-position: center;
        height: 34rem;
        width: 34rem;
        background-color: #fff;
        border-radius: 50%;

        @media screen and (max-width: 400px) {
          height: 25rem;
          width: 25rem;
          margin-bottom: 6rem;
        }
      }
    }
  }
}

//FOOTER
.wrap {
  padding: 12rem 0rem;
  grid-column: center-start / center-end;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;

  h4 {
    border-bottom: 1px solid #222;
    padding-top: 1rem;
    font-weight: 300;
    margin-top: 0;
  }

  a {
    font-size: 4.8rem;
    transition: 1s ease;

    @media screen and (max-width: 400px) {
      font-size: 2.4rem;
    }
  }

  a:hover {
    transform: scale(1.1);
  }
}
